.banner_background{
    background-color: rgba(100, 103, 105, 0.2);
    
  }
  
  /* .banner_b{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 0 50px 0;
  } */
  
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(32, 116, 144);
    /* background: linear-gradient(to left, #f46b45, #eea849); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 50px;
    padding:40px 70px;
    position: sticky;
    top: 0;
    font-size: 18px;
    z-index: 100;
  }
  
  .ul_container {
    padding:5px 30px;
    border-radius: 30px;
    background-color: #fff;
  }
  .ul_container a{
    margin: 0 5px;
    text-decoration: none;
    background-color: #fff;
    color: black;
    padding:5px 20px;


  }
  .navs a{
    margin: 0 5px;
    text-decoration: none;
    border-radius: 30px;
    background-color: #fff;
    color: black;
    padding:10px 30px;

  }
  
  .ul_menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .ul_menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  
  .anim_language{
    text-align: center;
    margin: 7% 0;
  }
  .anim_language h1{
    font-weight: bolder;
    font-size: 100px;
  }
  .anim_language i{
    color: #fff;
  }
  .anim_language a{
    background-color: rgb(32, 116, 144);
    text-decoration: none;
    padding: 20px;
    margin: 0 10px;
    border-radius: 7px;
  }
  
  .anim_language button{
    border: none;
    background: transparent;
    font-weight: bold;
    color: #fff;
  }
  
  
  /* media query */
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .ul_menu {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .ul_menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .ul_menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .ul_menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .ul_menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }